requests==2.31.0
opencv-python==4.9.0.80
numpy==1.24.3
pandas==2.2.1
torch==2.3.0
torchtext==0.18.0
torchvision==0.18.0
scikit-learn==1.4.2
matplotlib==3.8.4
pillow==10.3.0
diffusers==0.29.1
peft==0.11.1
transformers==4.41.2